{% extends "base/base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
    <div class="blog-post">
            <h2 class="blog-post-title">{{ post }}</h2>
            <p class="blog-post-meta">
                <a id="single_image" href="/media/{{ post.image }}">
                    <img class="img" src="/media/{{ post.image }}" alt="{{ post }}"/>
                </a>
            </p>
            <p class="blog-post-meta">{{ post.text }}</p>


    </div>
    <script>
        $(document).ready(function() {

	$("a#single_image").fancybox();



});</script>
{% endblock %}